registry=https://registry.npmmirror.com/
disturl=https://npmmirror.com/mirrors/node

# sharp / libvips
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips

# 常见原生/二进制依赖镜像
sass_binary_site=https://npmmirror.com/mirrors/node-sass
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
puppeteer_download_host=https://cdn.npmmirror.com/binaries
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors
better_sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3
